.section__content {
    background-color: salmon;
    width: 90%;
    margin: 20px auto;
    padding: 1em;
    text-align: center;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.content__image {
    width: 70px;
    display: block;
    margin: 0 auto;
}

.content__button {
    font-family: "Roboto", sans-serif;
    padding: 10px 30px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: #FFFFFF;
}

.content_paragraph {
    color: #9E9E9E;
}

.content__title {
    margin: 10px 0;
}

.content_paragraph {
    margin: 10px 0;
}